<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Connect</title>
    <link rel="stylesheet" href="/css/decolines.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/contact.css" />

    <link rel="stylesheet" href="/css/style.css" />
    <link rel="Stylesheet" href="/css/media.css" />

    <link rel="stylesheet" href="/css/connect.css" />
  </head>
  <body>

    <div class="nav">
      <div class="nav-logo">
        <a href="/">SHSA</a>
      </div>
      <div class="nav-links">
        <a href="/memories">Memories</a>
        <a href="/team">Our Team</a>
        <a href="/connect">Connect</a>
        <a href="/comics">SHSA Comics</a>
      </div>
    </div>
    <div class="contain">
      <div class="gallery">
        <div class="galleryitem firstimage"></div>
        <div class="galleryitem secondimage"></div>
        <div class="galleryitem thirdimage"></div>
     </div>
       <div class="logo-container">
         <div class="blue-tint"></div>
         <h1 class="logo-heading"><strong class="emphasize-letters">S</strong>HANGHAI <strong class="emphasize-letters">H</strong class="emphasize-letters">IGH-SCHOOL</h1>
         <h1 class="logo-heading secondline"><strong class="emphasize-letters">S</strong class="emphasize-letters">OCCER <strong class="emphasize-letters">A</strong>SSOCI<br />ATION</h1>
       </div>
        <ul>
            <div class="one-link main-link">
              <h2 class="link-label">CONNECT</h2>
            </div>
        </ul>
    </div>
    <div class="main-contain">
      <div class="container">
        <div class="contacts-contain">
          <h1>Do you have any questions?</h1>
          <div class="row">
            <div class="col-md-6">
              <form id="emailContactForm">
                <input name="nameInputContact" class="text-input" type="text" placeholder="Your name">
                <input name="emailInputContact" class="text-input" type="text" placeholder="youremail@gmail.com">
                <input name="subjectInputContact" class="text-input" type="text" placeholder="Why are you contacting us?">
                <h4>Your message</h4>
                <textarea name="messageInputContact" rows="6" class="text-input" placeholder="What do you want to say to us?"></textarea>
                <button id="submitContactFormButton" class="submit-button" type="submit">Submit</button>
              </form>
              <div class="contact-empty">
                <h4 style="width:100%;text-align:center">Message was successfully sent.</h4>
              </div>
            </div>
            <div class="col-md-6">
              <form>
                <div class="email-contact">
                  <h3>Alternatively, especially if you're looking for payment methods, connect with us in WeChat!</h3>
                  <a href="mailto:contact@shssa.com">contact@shssa.com</a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="contain-social-media">
        <a class="wechat-contain"><i class="fa fa-wechat"></i></a>

      </div>
      <p>Copyright © Shanghai Highschool Soccer Association</p>
    </div>

    <script src="/scripts/jquery-3.2.1.js"></script>
    <script src="/scripts/bootstrap.min.js"></script>
    <script src="/scripts/anime.min.js"></script>
    <script src="/scripts/main.js"></script>
    <script src="/scripts/jq.js"></script>
    <script src="/scripts/jq-connect.js"></script>
  </body>
</html>
