<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>SHSSA | Shanghai High School Soccer Association</title>
    <link rel="stylesheet" href="/css/decolines.css"/>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div class="nav">

    </div>
    <div class="contain">

      <div class="gallery">
        <div class="galleryitem firstimage"></div>
        <div class="galleryitem secondimage"></div>
        <div class="galleryitem thirdimage"></div>
     </div>
      <div class="logo-container">
        <div class="blue-tint"></div>
        <h1 class="logo-heading"><strong class="emphasize-letters">S</strong>HANGHAI <strong class="emphasize-letters">H</strong class="emphasize-letters">IGH <strong class="emphasize-letters">S</strong>CHOOL</h1>
        <h1 class="logo-heading secondline"><strong class="emphasize-letters">S</strong class="emphasize-letters">OCCER <strong class="emphasize-letters">A</strong>SSOCIATION</h1>
      </div>
      <div class="contain-links">
        <div class="white-tint"></div>
        <ul>
          <li class="first-link">
            <div class="one-link">
              <h2 class="link-label">MEMORIES</h2>
            </div>
          </li>
          <li class="second-link">
            <div class="one-link">
              <h2 class="link-label">OUR TEAM</h2>
            </div>
          </li>
          <li class="third-link">
            <div class="one-link">
              <h2 class="link-label">CONNECT</h2>
            </div>
          </li>
          <li class="fourth-link">
            <div class="one-link">
              <h2 class="link-label fourth-label">SHSSA COMICS</h2>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div class="main-contain">
      <div class="mission-statement-contain">
        <h1 class="mission-statement-h1">WhO WE ARE</h1>
        <p class="mission-statement-p">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa.
        </p>
      </div>
      <div class="mission-statement-contain">
        <h1 class="mission-statement-h1">WhO WE ARE</h1>
        <p class="mission-statement-p">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa.
        </p>
      </div>
      <div class="mission-statement-contain">
        <h1 class="mission-statement-h1">WhO WE ARE</h1>
        <p class="mission-statement-p">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa.
        </p>
      </div>
    </div>
    <script src="/scripts/jquery-3.2.1.js"></script>
    <script src="/scripts/anime.min.js"></script>
    <script src="/scripts/main.js"></script>
    <script src="/scripts/jq.js"></script>
  </body>
</html>
