.logo-heading{
  padding:0 !important;
}
.one-menu{
  width:30px;
  height:4px;
  border-radius: 10px;
  background-color:black;
}
.menu-button{
  float:right;
  position:absolute;
}
@media(max-width:1000px){
  .logo-heading{
    font-size:35px;
  }
  ul{
    margin:0;
    margin-left:7vw;
  }
  li{
    margin:0;
  }

}
@media(max-width:800px){
  .decolines{
    display:none;
  }
  .white-tint{
    opacity:0;
  }
  .contain-links{
    padding:20px;
    width:100%;
  }
  .link-label{
    padding-top:65px;
    font-size:18px;
  }
  .fourth-label{
    padding-top:55px;
  }
  .logo-heading{
    font-size:32px;
  }
  .one-link{
    width:90% !important;
    height:90% !important;
  }
  .link-li{
    width:170px !important;
    height:170px !important;
  }
  .second-link{
    margin:0;
  }
  .third-link{
    margin:0;
  }
  .fourth-link{
    margin:0;
  }
  .first-link{
    margin:0;
  }
}
@media(max-width:700px){
  .nav-links{
    display:none;
  }
  .logo-container{
    width:90%;
    display:block;
    padding:20px;
    margin:auto;
    height:230px;
  }
  .logo-heading{
    font-size:35px;
  }
  .secondline{
    margin:0;
  }
}
@media(max-width:500px){
  ul{
    margin-left:13vw;
  }
  br{
    display:block;
  }
  .logo-heading{
    font-size:28px;
    text-align: center;
  }
  ul{
    margin-top:-30px;
  }
  .one-link{
    width:95% !important;
    height:95% !important;
  }
  .link-li{
    width:33vw !important;
    height:33vw !important;
  }
  .link-label{
    padding-top:13vw;
    font-size:12px;
  }
}
@media(max-width:400px){
  .one-link{
    width:95% !important;
    height:95% !important;
  }
  ul{
    margin-left:8vw;
  }
  .link-li{
    width:37vw !important;
    height:37vw !important;
  }
  .link-label{
    padding-top:13vw;
    font-size:12px;
  }

}
